body {
    color: #8c8c8c;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    overflow-x: hidden
}

a {
    color: #1fb5ac;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease
}

a:hover {
    color: #e74c3c;
    text-decoration: none
}

.orange-text {
    color: #fa8564;
    font-weight: 400
}

.light-yellow {
    background: #ffdf7c
}

.light-green {
    background: #aec785
}

.light-violet {
    background: #c0a9ea
}

.light-blue {
    background: #84bedf
}

.light-yellow,
.light-green,
.light-violet,
.light-blue {
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease
}

.transparent-section {
    margin: 0 auto;
    padding: 0
}

.default-section {
    margin-bottom: 40px
}

.default-section.style-two {
    margin-bottom: auto;
    padding-top: 100px
}

.section-heading {
    background: #FFF;
    box-shadow: 0 3px 3px 0 rgba( 1, 2, 2, 0.05);
    padding: 30px 0;
    margin-bottom: 40px
}

.section-heading.style-two {
    box-shadow: none;
    background: transparent
}

.section-heading .section-title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #a8aab3!important;
    font-size: 33px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: #32323a
}

.section-heading.style-two .section-title {
    color: #32323a
}

.section-box {
    background: #FFF;
    border-radius: 5px;
    padding: 30px
}

.title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32323a;
    margin-top: 0;
    margin-bottom: 30px
}

.archive-list ul {
    list-style-type: none;
    padding: 0
}

.menu-margin {
    margin-bottom: 100px
}

.header-content {
    padding-top: 200px;
    padding-bottom: 175px
}

.site-title {
    display: table;
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 4px double #FFF
}

.site-title .site-name,
.site-title .site-designation,
.site-slogan {
    color: #010000;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    margin: 0
}

.site-title .site-name {
    font-size: 60px
}

.site-title .site-designation {
    font-size: 50px
}

.site-slogan {
    font-size: 40px
}

.social-link {
    display: table;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    overflow: hidden;
    text-align: center
}

.social-profiles {
    margin: 0;
    padding: 10
}

.social-profiles .item {
    display: inline-block;
    margin-top: 25px
}

.social-profiles .item a {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    color: #a6dbd1;
    border: 1px solid #FFF;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    margin: 3px;
    z-index: 0
}

.social-profiles .item a span {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -65px;
    text-align: center;
    color: #fff;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0
}

.social-profiles .item a:hover span {
    display: block;
    top: -30px;
    width: 130px;
    height: auto;
    opacity: 1;
    overflow: visible
}

.profile-photo {
    padding: 12px
}

.about-content {
    margin-bottom: 31px
}

.box-title {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
    color: #32323a
}

.programing-skills .progress {
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    position: relative
}

.programing-skills .progress .progress-bar {
    box-shadow: none;
    font-size: 16px;
    line-height: 40px;
    text-align: inherit;
    padding: 0 15px;
}

.progress .skill-width {
    position: absolute;
    right: 10px;
    top: 10px
}

.designing-legend {
    display: inline-block
}

.doughnut-legend li {
    line-height: 25px
}

.doughnut-legend li span {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%
}

.experience-item {
    background: #FFF;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden
}

.experience-items div:last-of-type {
    margin-bottom: 0
}

.experience-item .name-designation {
    width: 30%;
    text-align: right;
    padding-right: 45px;
    float: left
}

.name-designation .designation {
    color: #32323a;
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase
}

.name-designation .name-of-org {
    font-size: 16px;
    color: #808080
}

.experience-item .stay-time {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 25px;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    text-align: center;
    border: 10px solid #f1f2f7;
    position: absolute;
    top: -8px;
    left: 30%
}

.experience-item:hover .stay-time {
    border: 15px solid #f1f2f7;
    padding-top: 20px;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}

.experience-item:hover .light-yellow {
    background: #efca58
}

.experience-item:hover .light-green {
    background: #9fba72
}

.experience-item:hover .light-violet {
    background: #a188cf
}

.experience-item:hover .light-blue {
    background: #67b7e5
}

.experience-item .comments {
    float: right;
    width: 53%
}

.education-container {
    margin-top: 20px
}

.education-item {
    position: relative;
    background: #FFF;
    padding: 30px;
    padding-top: 70px;
    margin-bottom: 30px
}

.education-item .edu-time {
    width: 100px;
    height: 100px;
    border: 10px solid #f1f2f7;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 16px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px
}

.education-item:hover .edu-time {
    border: 5px solid #f1f2f7;
    padding-top: 21px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg)
}

.education-item:hover .light-yellow {
    background: #efca58
}

.education-item:hover .light-green {
    background: #9fba72
}

.education-item:hover .light-violet {
    background: #a188cf
}

.education-item:hover .light-blue {
    background: #67b7e5
}

.edu-time p {
    line-height: 16px
}

.education-item .edu-title {
    text-align: center
}

.edu-title .edu-session {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32323a
}

.edu-title .edu-inst {
    font-size: 16px;
    font-weight: 500;
    color: #808080
}

.education-item .edu-comments {
    text-align: justify;
    border-top: 1px solid #dddfeb;
    padding-top: 10px
}